*{box-sizing: border-box;
}


.todo {
  width: 100%;
  background-image:url();
  overflow: auto;

}
.boton {
float: right;
width: 10%;
border: none;
padding: 9px;
text-align: center;
font-family: sans-serif;
text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
color: white;
font-size: 100%;
background-color: transparent;
}
.abajo {
  width: 100%;
  float: right;
  margin-top: 5%;

}
.dentroinfo1 {
  border: black thin solid;
  width: 98%;
  font-size: 40px;
  font-family: yoshi;
  color: white;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  text-align: center;

}
.titulo {
  width: 30%;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  color: white;
  font-size: 30px;
}
.content {
  width: 80%;
  border: black thin solid;
  margin-left: 10%;
}
