* { box-sizing: border-box;
background-repeat: no-repeat;
margin: 0;
}

.todo {
  width: 100%;
  background-image:url(http://files.all-free-download.com/downloadfiles/wallpapers/2560_1600/spectacular_scenery_8198.jpg);
  /* border: black thin solid; */
overflow: auto;
}
.logo {
  background-image:url(https://www.hpstoreargentina.com.ar/img/productos/100/galeria/big/servidor-hp-proliant-ml350-1.png);
  float: left;
  margin-top: 1%;
  margin-left: 15px;
  border: black thin solid;
  width: 7%;
  padding: 2%;
  background-color: white;
}
.abajo {
  width: 100%;
  float: right;
  margin-top: 17%;
}

.info {
float: right;
margin-top: 200px;
/* border: black thin solid; */
width: 50%;
}
@font-face {
  font-family: jedi;
  src: url("STARWARS.TTF");
}
@font-face {
  font-family: yoshi;
  src: url("yoshisst.ttf");
}

.dentroinfo {
  /* border: black thin solid; */
  width: 98%;
  margin: 1%;
  font-size: 40px;
  text-align: center;

  font-family: yoshi;
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0#ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.dentroinfo1 {
  /* border: black thin solid; */
  width: 98%;
  margin: 1%;
  font-size: 100px;
  font-family: yoshi;
  color: white;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;}

.izquierda {
/* border: black thin solid; */
float: right;
width: 47%;
margin-top: 2%;
margin-right: 500px;
text-align: center;
}

.boton {
float: left;
width: 16%;
border: none;
padding: 9px;
text-align: center;
font-family: sans-serif;
color: white;
font-size: 100%;
background-color: transparent;
}
